html{
    scroll-behavior: smooth;
}

body{
    margin: 0;   
}


/*********************/
/***Style du Header***/
/*********************/
header{
    display: flex;
    background: black;
    padding: 16px;
    align-items: center;
    font-family: 'Satoshi', sans-serif;
    margin-bottom: 0;
}

.logo{
    width: 100px;
    height: auto;
}

img{
    width: 100%;
}

.menu{
    display: flex;
    margin-right: 16px;
    margin-left: auto;
    gap: 16px;
}

.menu>a{
    color: white;
    text-decoration: none;
}

.menu>a:hover{
    color: #A1638A;
}


/*******************/
/***Style du Main***/
/*******************/

main{
    background-image: linear-gradient(black, #632A56);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.case{
    background-color: white;
    border-radius: 24px;
    width: fit-content;
    text-align: center;
    padding: 24px;
    font-family: 'Satoshi', sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
}

.titre{
    margin-bottom: 24px;
    font-weight: bold;
}

form>div:first-child{
    background-color: #A1638A;
    border-radius: 8px;
    margin: 10px;
    padding: 8px;
    display: flex; 
    align-items: center; 
    gap: 10px; 
    color: white;
    font-size: 16px;
}

form>div:nth-child(2){
    background-color: #A1638A;
    border-radius: 8px;
    padding: 8px;
    margin: 10px 10px 0px 10px;
    display: flex; 
    align-items: center; 
    gap: 10px; 
    color: white;
    font-size: 16px;
}

 input {
    border: 1px solid white; 
    padding: 4px; 
    border-radius: 4px; 

    background: transparent; 
    outline: none; 
    color: white; 
    font-size: 16px; 
}

 input:focus {
    border-bottom: 2px solid white; 
}



.oublier>a{
    color: rgb(160, 160, 160);
    font-size: 12px
}

button{
    margin: 16px;
    padding: 12px 20px 12px 20px;
    border-radius: 24px;
    background-color: #A1638A;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

button>a{
    text-decoration: none;
    color: white;
    font-size: 16px
}

.pas-de-compte>a{
    color: rgb(160, 160, 160);
    font-size: 14px;
}




/*********************/
/***Style du Footer***/
/*********************/

footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: 'Satoshi', sans-serif;
    padding: 24px;
    align-items: center;
}

.gauche{
    width: 100px;
    height: auto;
}

.centre{
    text-align: center;
}

.prevention{
    padding: 8px;
}

.droite>div>a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.droite>div>a:hover{
    color: #A1638A;
}

.droite{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.droite>div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}