html{
    scroll-behavior: smooth;
}

body{
    margin: 0;   
}

/*********************/
/***Style du Header***/
/*********************/
header{
    display: flex;
    background: black;
    padding: 16px;
    align-items: center;
    font-family: 'Satoshi', sans-serif;
}

.logo{
    width: 100px;
    height: auto;
}

img{
    width: 100%;
}

.menu{
    display: flex;
    margin-right: 16px;
    margin-left: auto;
    gap: 16px;
}

.menu>a{
    color: white;
    text-decoration: none;
}

.menu>a:hover{
    color: #A1638A;
}


/*******************/
/***Style du Main***/
/*******************/
.homepage{
    background-image: url("../Images/Fond.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding: 30px;
    box-shadow: inset 0px 0px 20px 20px #000000;
}


.slogan{
    text-align: center;
    color: white;
    font-family: 'Rosaline', cursive;
}

.reseaux {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    gap: 10px; 
    text-align: right; 
}

.origine{
    margin: 35px auto 25px 35px;
    font-size: 54px;
    color: white;
    font-family: 'Rosaline', cursive;
}

p{
    color: white;
    margin: 30px auto 25px 35px;
    width: 200px;
    font-family: 'Satoshi', sans-serif;
}




/* From Uiverse.io by gharsh11032000 */ 
.bouton {
    position: relative;
    overflow: hidden;
    height: 60px;
    padding: 20px;
    border-radius: 20px;
    background: white;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 24px 0px 24px 35px
  }
  
  
.bouton:hover::before {
    transform: scaleY(1);
  }
  
.bouton:hover>a { 
    text-shadow: 0 0 10px white, 0 0 5px rgba(255, 255, 255, 0.6);
    color: black; 
}

  .bouton>a {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #632A56;
  }
  
  .bouton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: top;
    width: 110%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      to bottom,
      #632A56 10.8%,
      #A1638A 94.3%
    );
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .bouton:active {
    scale: 0.9;
  }











.liste_restaurent{
    background-image: linear-gradient(black, #632A56);
    padding: 32px;
}


.restos{
    text-align: center;
    font-size: 34px;
    color: white;
    font-family: 'Satoshi', sans-serif;
    padding-bottom: 32px
}

.alignement{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px
}

.Mulhouse, .Rixheim, .Huningue, .Altkirch{
    background-color: white;
    border-radius: 16px;
    max-width: 200px;
    color: black;
    padding: 16px;
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
}

.nom{
    color:#A1638A;
    font-family: 'Rosaline', cursive;
    text-align: center;
    padding: 14px;
    font-size: 20px;
}

.adresse, .tel{
    padding-bottom: 10px;
}

.horraire>.journee>div:last-child{
    padding-bottom: 10px;
}


/*********************/
/***Style du Footer***/
/*********************/

footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: 'Satoshi', sans-serif;
    padding: 24px;
    align-items: center;
}

.gauche{
    width: 100px;
    height: auto;
}

.centre{
    text-align: center;
}

.prevention{
    padding: 8px;
}

.droite>div>a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.droite>div>a:hover{
    color: #A1638A;
}

.droite{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.droite>div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}