body{
    margin: 0;   
}

header{
    display: flex;
    background: black;
    padding: 16px;
    align-items: center;
    font-family: 'Satoshi', sans-serif;
}

.logo{
    width: 100px;
    height: auto;
}

img{
    width: 100%;
}

.menu{
    display: flex;
    color: white;
    gap: 16px;
    margin-right: 16px;
    margin-left: auto;
}

.homepage{
    background-image: url("../Images/Fond.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding: 30px;
    box-shadow: inset 0px 0px 20px 20px #000000;
}


.slogan{
    text-align: center;
    color: white;
    font-family: 'Rosaline', cursive;
}

.reseaux {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    gap: 10px; 
    text-align: right; 
}

.origine{
    margin: 35px auto 25px 35px;
    font-size: 54px;
    color: white;
    font-family: 'Rosaline', cursive;
}

p{
    color: white;
    margin: 30px auto 25px 35px;
    width: 200px;
    font-family: 'Satoshi', sans-serif;
}

.bouton{
    display: flex;
    font-family: 'Satoshi', sans-serif;
    color: #A1638A;
}

.reserver, .commander{
    background-color: white;
    width: 90px;
    padding: 16px;
    margin-top: 35px;
    margin-left: 35px;
    border-radius: 24px;
    text-align: center;
}

.liste_restaurent{
    display: flex;
    background-image: linear-gradient(black, #632A56);
    justify-content: space-around;
    padding: 32px;
}

.Mulhouse, .Rixheim, .Huningue, .Altkirch{
    background-color: white;
    border-radius: 16px;
    max-width: 200px;
    color: black;
    padding: 16px;
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
}

.nom{
    color:#A1638A;
    font-family: 'Rosaline', cursive;
    text-align: center;
    padding: 14px;
    font-size: 20px;
}

.adresse, .tel{
    padding-bottom: 10px;
}

.horraire>.journee>div:last-child{
    padding-bottom: 10px;
}

